{% extends 'base.html' %}

{% block content %}
</br> </br> </br> </br> </br> 

<div style="text-align: center;">
    <p><h2 >SUN LANDRE ENERGY</h2></p>
</div>

SUN LANDRE ENERGY has been established with an objective with an objective to contribute in harnessing solar energy from nature thus creating pollution free environment. We are enterpreneur comitted for over comming challenging to meet the target. Our team specialising in planning, Desing for fabrication & installation of photovoltaic solar modules on Govt., Commrcial building, Housing socities, Water bodies and green field area.
We liaison with financial institution for fund availability to desirous clints. We have wide experience in various field with industry specific service with Indian Railway and state Govt. We have entered into the Green Energy area with multiple solution in energy sector.
MISSION, VISION,& VALUES
To relieve energy supply from fossil fuel with Green energy in shortest time for developing pollution free environment.
To install every structure, water bodies with solar panal. Committment, Honesty, Technology
</br> </br> </br> </br> </br> </br> </br> </br> 

{% endblock %}