{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Login</h1>
            <p class="lead fw-normal text-white-50 mb-0">Login to your account</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


            <form method="post" action="{% url 'login' %}">
                
                <div class="mb-3">
                  
                  <input type="text" class="form-control" name="username" placeholder="enter your Username">
                  
                </div>
                
                
                <div class="mb-3">
                  <input type="password" class="form-control" name="password" placeholder="Enter your password">
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>

<br/><br/>
</div>
</section>

{% endblock %}