<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
      <h1>Details</h1>
      <h3><li>Name : {{products.name}}</li></h3>
      <h3><li>Description : {{products.discription}}</li></h3>
      <h3><li>Price : {{products.price}}</li></h3>
      <h3><li>stock : {{products.stock}}</li></h3>
      <a href="/update/{{products.id}}">update</a>
    </ol>  
    <a href="/">Home</a>
</body>
</html>