{% extends 'base.html' %}

{% block content %}
        
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Checkout</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Checkout Your Orders</p>
                </div>
            </div>
        </header>
        
         
            
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <br></br>
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                          Order Summary
                        </div>
                        <div class="card-body">
                        {% for product in cart_products %}
                        <br>
                            {{ product.name}} :
                                {%if product.is_sale%}
                                    INR - {{product.sale_price}}
                                {%else%}
                                    INR - {{product.price}}
                                {%endif%}
                            </br>
                            {% for key, value in quantities.items %}       <!-- '3':2 , '5':3  ->this is the way key value if product id and its quantity is saved in session back-end  -->

                                {% if key == product.id|slugify %}        <!-- //slugify turns string into integer -->
                                    Quantity : {{ value }}
                                {% endif %}
                            {% endfor %}

                        </br>
                        {% endfor %}
                        <br>
                        <strong>Total  : {{totals}}</strong>
                </br><br>
                    <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update List</a>
                        
                        </div>
                      </div>
                    </br>
                    
                    <br></br>




                    <div class="card">
                        <h5 class="card-header">Shipping Information</h5>
                        <div class="card-body">
                          <form method="post" action="{% url 'billing_info' %}">
                            {{F_shipping_form.as_p}}
                            {% csrf_token  %}

                          
                          
                        </div>
                      </div>
                      <br></br>
                      
                </div>
                <br></br>

                <button type="submit" class="btn btn-primary">Continue to billing</button>
            </form>
            </div>    

        </div>
        <br></br>


        
{% endblock %}    

        